<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>BBEditDocumentType</key>
<string>CodelessLanguageModule</string>
<key>BBLMColorsSyntax</key> <true/>
<key>BBLMIsCaseSensitive</key> <false/>
<key>BBLMKeywordList</key>
<array>
<string>/addfields</string>
<string>/addlineitem</string>
<string>/append</string>
<string>/appendfile</string>
<string>/applescript</string>
<string>/array</string>
<string>/arrayget</string>
<string>/arrayset</string>
<string>/authenticate</string>
<string>/boldwords</string>
<string>/browsername</string>
<string>/calcfilecrc32</string>
<string>/capitalize</string>
<string>/cart</string>
<string>/case</string>
<string>/clearlineitems</string>
<string>/closedatabase</string>
<string>/commitdatabase</string>
<string>/convertchars</string>
<string>/convertwords</string>
<string>/cookie</string>
<string>/copyfile</string>
<string>/copyfolder</string>
<string>/countchars</string>
<string>/countwords</string>
<string>/createfolder</string>
<string>/date</string>
<string>/ddeconnect</string>
<string>/ddesend</string>
<string>/decrypt</string>
<string>/default</string>
<string>/delete</string>
<string>/deletefile</string>
<string>/deletefolder</string>
<string>/dos</string>
<string>/elapsedtime</string>
<string>/else</string>
<string>/encrypt</string>
<string>/exclusivelock</string>
<string>/filecompare</string>
<string>/fileinfo</string>
<string>/findstring</string>
<string>/flushcache</string>
<string>/flushdatabases</string>
<string>/format</string>
<string>/formvariables</string>
<string>/founditems</string>
<string>/freememory</string>
<string>/function</string>
<string>/getchars</string>
<string>/getmimeheader</string>
<string>/grep</string>
<string>/hideif</string>
<string>/html1</string>
<string>/html2</string>
<string>/html3</string>
<string>/httpmethod</string>
<string>/if] [then] [else</string>
<string>/if</string>
<string>/include</string>
<string>/input</string>
<string>/interpret</string>
<string>/ipaddress</string>
<string>/lastautonumber</string>
<string>/lineitems</string>
<string>/listchars</string>
<string>/listcookies</string>
<string>/listdatabases</string>
<string>/listfields</string>
<string>/listfiles</string>
<string>/listmimeheaders</string>
<string>/listpath</string>
<string>/listvariables</string>
<string>/listwords</string>
<string>/lookup</string>
<string>/loop</string>
<string>/lowercase</string>
<string>/math</string>
<string>/middle</string>
<string>/movefile</string>
<string>/object</string>
<string>/orderfile</string>
<string>/password</string>
<string>/platform</string>
<string>/protect</string>
<string>/purchase</string>
<string>/random</string>
<string>/raw</string>
<string>/redirect</string>
<string>/referrer</string>
<string>/removehtml</string>
<string>/removelineitem</string>
<string>/replace</string>
<string>/replacefounditems</string>
<string>/return</string>
<string>/returnraw</string>
<string>/scope</string>
<string>/search</string>
<string>/sendmail</string>
<string>/setheader</string>
<string>/setlineitem</string>
<string>/setmimeheader</string>
<string>/shell</string>
<string>/showif</string>
<string>/shownext</string>
<string>/spawn</string>
<string>/sql</string>
<string>/sqlconnect</string>
<string>/SQLdisconnect</string>
<string>/sqlexecute</string>
<string>/sqlinfo</string>
<string>/SQLrelease</string>
<string>/sqlresult</string>
<string>/switch</string>
<string>/table</string>
<string>/tcpconnect</string>
<string>/tcpsend</string>
<string>/text</string>
<string>/then</string>
<string>/thisurl</string>
<string>/time</string>
<string>/unurl</string>
<string>/uppercase</string>
<string>/url</string>
<string>/username</string>
<string>/validcard</string>
<string>/version</string>
<string>/waitforfile</string>
<string>/writefile</string>
<string>/xmlnode</string>
<string>/xmlnodes</string>
<string>/xmlnodesattributes</string>
<string>/xmlparse</string>
<string>/xsl</string>
<string>/xslt</string>
<string>abs</string>
<string>acos</string>
<string>add</string>
<string>addfields</string>
<string>addlineitem</string>
<string>advance</string>
<string>allownull</string>
<string>append</string>
<string>append</string>
<string>appendfile</string>
<string>applescript</string>
<string>array</string>
<string>arrayget</string>
<string>arrayset</string>
<string>asin</string>
<string>atan</string>
<string>authenticate</string>
<string>autonumber</string>
<string>avg</string>
<string>binarybody</string>
<string>boldwords</string>
<string>browsername</string>
<string>calcfilecrc32</string>
<string>call</string>
<string>canemail</string>
<string>capitalize</string>
<string>cart</string>
<string>cart</string>
<string>case</string>
<string>ceil</string>
<string>chars</string>
<string>charset</string>
<string>classpath</string>
<string>clear</string>
<string>clearlineitems</string>
<string>closedatabase</string>
<string>command</string>
<string>commandtext</string>
<string>commitdatabase</string>
<string>conn_ref</string>
<string>conn_var</string>
<string>content</string>
<string>convertchars</string>
<string>convertwords</string>
<string>cookie</string>
<string>copyfile</string>
<string>copyfolder</string>
<string>cos</string>
<string>cosh</string>
<string>countchars</string>
<string>countwords</string>
<string>createfolde</string>
<string>createfolder</string>
<string>database</string>
<string>datatype</string>
<string>date</string>
<string>days_to_date</string>
<string>db</string>
<string>dbtype</string>
<string>ddeconnect</string>
<string>ddesend</string>
<string>decrypt</string>
<string>default</string>
<string>deg</string>
<string>delete</string>
<string>deletefile</string>
<string>deletefolder</string>
<string>delimiter</string>
<string>delimiters</string>
<string>dim</string>
<string>DNA_</string>
<string>dos</string>
<string>dsn</string>
<string>elapsedtime</string>
<string>else</string>
<string>encrypt</string>
<string>end</string>
<string>endbefore</string>
<string>exact</string>
<string>exclusivelock</string>
<string>exists</string>
<string>f</string>
<string>fieldname</string>
<string>file</string>
<string>filecompare</string>
<string>fileinfo</string>
<string>filename</string>
<string>fileonly</string>
<string>findstring</string>
<string>first</string>
<string>floor</string>
<string>flushcache</string>
<string>flushdatabases</string>
<string>form</string>
<string>format</string>
<string>formvariables</string>
<string>founditems</string>
<string>freememory</string>
<string>from</string>
<string>fullpath</string>
<string>function</string>
<string>get</string>
<string>getchars</string>
<string>getcookie</string>
<string>getmimeheader</string>
<string>grep</string>
<string>hideif</string>
<string>host</string>
<string>html1</string>
<string>html2</string>
<string>html3</string>
<string>httpmethod</string>
<string>if</string>
<string>ignorecase</string>
<string>imageheight</string>
<string>imagewidth</string>
<string>include</string>
<string>index</string>
<string>input</string>
<string>inserid</string>
<string>interpret</string>
<string>ipaddress</string>
<string>iscontainer</string>
<string>isfile</string>
<string>isfolder</string>
<string>issecureclient</string>
<string>iterate</string>
<string>last</string>
<string>lastautonumber</string>
<string>lastrandom</string>
<string>lineindex</string>
<string>lineitems</string>
<string>listchars</string>
<string>listcookies</string>
<string>listdatabases</string>
<string>listfields</string>
<string>listfiles</string>
<string>listmimeheaders</string>
<string>listpath</string>
<string>listvariables</string>
<string>listwords</string>
<string>listwords</string>
<string>log</string>
<string>log10</string>
<string>lookup</string>
<string>loop</string>
<string>lowercase</string>
<string>math</string>
<string>max</string>
<string>method</string>
<string>middle</string>
<string>min</string>
<string>moddate</string>
<string>modtime</string>
<string>movefile</string>
<string>name</string>
<string>newcart</string>
<string>newcartsearch</string>
<string>next</string>
<string>numfields</string>
<string>numfound</string>
<string>numrecords</string>
<string>numrowsaffected</string>
<string>object</string>
<string>objname</string>
<string>orderfile</string>
<string>ordinal</string>
<string>param1</string>
<string>param1type</string>
<string>param2</string>
<string>param2type</string>
<string>param3</string>
<string>param3type</string>
<string>param4</string>
<string>param4type</string>
<string>param5</string>
<string>param5type</string>
<string>param6</string>
<string>param6type</string>
<string>param7</string>
<string>param7type</string>
<string>param8</string>
<string>param8type</string>
<string>password</string>
<string>path</string>
<string>pathonly</string>
<string>platform</string>
<string>port</string>
<string>position</string>
<string>preparse</string>
<string>prev</string>
<string>price</string>
<string>product</string>
<string>protect</string>
<string>purchase</string>
<string>pwd</string>
<string>quantity</string>
<string>quit</string>
<string>rad</string>
<string>random</string>
<string>raw</string>
<string>raw</string>
<string>redirect</string>
<string>ref</string>
<string>referrer</string>
<string>remove</string>
<string>removehtml</string>
<string>removelineitem</string>
<string>removewebdna</string>
<string>replace</string>
<string>replace</string>
<string>replacefounditems</string>
<string>replacewith</string>
<string>result_var</string>
<string>return</string>
<string>returnraw</string>
<string>saveonfail</string>
<string>saveonsuccess</string>
<string>scope</string>
<string>search</string>
<string>search</string>
<string>searchstring</string>
<string>seconds_to_time</string>
<string>secure</string>
<string>seed</string>
<string>seek</string>
<string>sendmail</string>
<string>setcookie</string>
<string>setheader</string>
<string>setlineitem</string>
<string>setmimeheader</string>
<string>shell</string>
<string>show</string>
<string>showcart</string>
<string>showif</string>
<string>showinvisibles</string>
<string>shownext</string>
<string>shownext</string>
<string>showpage</string>
<string>sin</string>
<string>sinh</string>
<string>size</string>
<string>skipheader</string>
<string>sku</string>
<string>source</string>
<string>spawn</string>
<string>sql_clientver</string>
<string>sql_dbname</string>
<string>sql_host</string>
<string>sql_servertype</string>
<string>sql_serverver</string>
<string>sql</string>
<string>sqlconnect</string>
<string>sqldisconnect</string>
<string>sqlexecute</string>
<string>sqlinfo</string>
<string>sqlrelease</string>
<string>sqlresult</string>
<string>sqrt</string>
<string>ssl</string>
<string>start</string>
<string>startafter</string>
<string>startat</string>
<string>startpath</string>
<string>statement</string>
<string>sum</string>
<string>switch]</string>
<string>switch</string>
<string>t</string>
<string>table</string>
<string>tabs</string>
<string>tan</string>
<string>tanh</string>
<string>taxable</string>
<string>tcpconnect</string>
<string>tcpsend</string>
<string>text</string>
<string>texta</string>
<string>textb</string>
<string>textc</string>
<string>textd</string>
<string>texte</string>
<string>then</string>
<string>thisfile</string>
<string>thisurl</string>
<string>thousands</string>
<string>time</string>
<string>timeout</string>
<string>to</string>
<string>trim</string>
<string>type</string>
<string>uid</string>
<string>unitshipcost</string>
<string>unurl</string>
<string>uppercase</string>
<string>url</string>
<string>username</string>
<string>validcard</string>
<string>value</string>
<string>var</string>
<string>version</string>
<string>waitforfile</string>
<string>width</string>
<string>word</string>
<string>words</string>
<string>writefile</string>
<string>xmlnode</string>
<string>xmlnodes</string>
<string>xmlnodesattributes</string>
<string>xmlparse</string>
<string>xmlsource</string>
<string>xsl</string>
<string>xslref</string>
<string>xslsource</string>
<string>xslt</string>
</array>
<key>BBLMLanguageCode</key>
<string>wDNA</string>
<key>BBLMLanguageDisplayName</key>
<string>WebDNA</string>
<key>BBLMScansFunctions</key> <false/>
<key>BBLMSuffixMap</key>
<array>
	<dict>
		<key>BBLMLanguageSuffix</key>
		<string>.dna</string>
	</dict>
	<dict>
		<key>BBLMLanguageSuffix</key>
		<string>.tpl</string>
	</dict>
	<dict>
		<key>BBLMLanguageSuffix</key>
		<string>.db</string>
	</dict>
	<dict>
		<key>BBLMLanguageSuffix</key>
		<string>.inc</string>
	</dict>
</array>
<key>BBLMCanSpellCheckCodeRuns</key><true/>
<key>Language Features</key>
<dict>
<key>Close Block Comments</key>
<string>[/!]</string>
<key>Close Parameter Lists</key>
<string></string>
<key>Close Statement Blocks</key>
<string></string>
<key>Close Strings 1</key>
<string>"</string>
<key>Close Strings 2</key>
<string></string>
<key>End-of-line Ends Strings 1</key> <true/>
<key>End-of-line Ends Strings 2</key> <true/>
<key>Escape Char in Strings 1</key>
<string></string>
<key>Escape Char in Strings 2</key>
<string></string>
<key>Identifier and Keyword Characters</key>
<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-_/\x{005B}\x{005D}</string>
<key>Open Block Comments</key>
<string>[!]</string>
<key>Open Line Comments</key>
<string></string>
<key>Open Parameter Lists</key>
<string></string>
<key>Open Statement Blocks</key>
<string></string>
<key>Open Strings 1</key>
<string>"</string>
<key>Open Strings 2</key>
<string></string>
<key>Prefix for Functions</key>
<string>functions</string>
<key>Prefix for Procedures</key>
<string></string>
<key>Terminator for Prototypes 1</key>
<string></string>
<key>Terminator for Prototypes 2</key>
<string></string>
</dict>
</dict>
</plist>